{{- $codespaces:= env "CODESPACES" | not | not -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}
scriptTempDir = "~/tmp"

[data]
    name = "Your name"
    codespaces = {{ $codespaces }}
{{ if eq .chezmoi.hostname "MikesDesktop" -}}
    email = "mike@lopresti.org"
{{- else }}
    email = "michael.lopresti@yum.com"
{{- end }}