{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
{{ end }}
{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
AppData/**
OneDrive/**
{{ end }}
ReadMe.md
install.sh
{{ if eq (env "REMOTE_CONTAINERS") "true" -}}
.gitconfig
.ssh
{{ end }}
