{{- $codespaces:= env "CODESPACES" | not | not -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    name = "Your name"
    codespaces = {{ $codespaces }}
{{ if or (eq .chezmoi.hostname "MikesDesktop") (eq .chezmoi.hostname "MikesLaptop") -}}
    email = "mike@lopresti.org"
{{- else }}
    email = "michael.lopresti@yum.com"
{{- end }}

scriptTempDir = "~/.chezmoi_tmp"