{{ if eq .chezmoi.os "windows" -}}
{{ range .packages.work.windows.winget -}}
winget install {{ . | quote }}
{{ end -}}
{{ if eq .chezmoi.hostname "MikesDesktop" -}}
{{ range .packages.personal.windows.winget -}}
winget install {{ . | quote }}
{{ end -}}
{{ end -}}
{{ end -}}
