{{- /* Claude Code Settings */ -}}
{
  "includeCoAuthoredBy": false,
  "allowedMcpServers": [
    {
      "serverName": "mealie"
    },
    {
      "serverName": "homeassistant"
    },
    {
      "serverName": "kroger"
    },
    {
      "serverName": "proton-email"
    },
    {
      "serverName": "a2a"
    }
  ],
  "extraKnownMarketplaces": {
    "claude-toolkit": {
      "source": {
        "source": "github",
        "repo": "dwmkerr/claude-toolkit"
      }
    }
  },
  "alwaysThinkingEnabled": true,
  "skipDangerousModePermissionPrompt": true
}
