#!/bin/bash

{{ if eq .chezmoi.osRelease.name "Bluefin" }}
flatpak install flathub md.obsidian.Obsidian --assumeyes
flatpak install flathub com.discordapp.Discord --assumeyes
flatpak install flathub com.discordapp.Discord --assumeyes
flatpak install flathub com.protonvpn.www --assumeyes
flatpak install flathub org.signal.Signal --assumeyes
flatpak override --env=SIGNAL_PASSWORD_STORE=gnome-libsecret org.signal.Signal
flatpak install flathub org.inkscape.Inkscape --assumeyes
flatpak install flathub me.proton.Mail --assumeyes
flatpak install flathub me.proton.Pass --assumeyes
flatpak install flathub im.fluffychat.Fluffychat --assumeyes
flatpak install flathub com.microsoft.Edge --assumeyes
flatpak install flathub com.github.IsmaelMartinez.teams_for_linux --assumeyes
flatpak install flathub org.libreoffice.LibreOffice --assumeyes
{{ end }}
