#!/bin/bash

{{ if eq .chezmoi.osRelease.name "LMDE" }}
curl -L https://symless.com/synergy/synergy/api/download/synergy-3.2.1-linux-jammy-x64.deb -o /tmp/synergy-3.2.1-linux-jammy-x64.deb
apt install /tmp/synergy-3.2.1-linux-jammy-x64.deb -y
rm /tmp/synergy-3.2.1-linux-jammy-x64.deb
{{ end }}
